body {
  margin: 1px;
  background-color: #aad9bb;
}
.Header {
  display: flex;
  height: 100px;
  justify-content: space-between;
  background-color: #80bcbd;
  border: 1px solid grey;
}

.Header .logo-container img {
  height: 100px;
  width: 100px;
}

ul {
  display: flex;
  align-items: center;
  font-size: 25px;
  justify-content: center;
  list-style: none;
}
li {
  margin: 10px;
  text-decoration: none;
}

.search {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flter {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-btn {
  cursor: pointer;
  border-radius: 5%;
}
.restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: 330px;
  background-color: #f9f7c9;
  padding: 5px;
  border-radius: 5%;
  border: 1px solid #b0c4de;
}

.restaurant:hover {
  border: 3px solid #87cefa;
  cursor: pointer;
}

.restaurant img,
.restaurant h2,
.restaurant h4 {
  margin: 0;
}
.restaurant h2 {
  color: #0000cd;
  text-align: center;
}
.restaurant h4 {
  color: #7b68ee;
  text-align: center;
}
.restaurant img {
  margin-top: 5px;
  height: 200px;
  width: 200px;
}
.restaurants-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.shimmer-card {
  width: 220px;
  height: 330px;
  background-color: #fbf6f1;
  /* padding: 10px; */
  margin: 10px;
  border-radius: 5%;
}
.login-btn {
  margin: 10px;
  font-size: 20px;
  border-radius: 20%;
}

.contact,
.about,
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.error h1,
.error h2 {
  margin: 0;
}
.restroInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
